.data.py.swp
.train.py.swp
__pycache__/
model/.bisenetv2.py.swp
model/__pycache__/
utils/__pycache__/
.config.py.swp
checkpoints/
runs/
.test.py.swp
test/
.fed_train.py.swp
MultiFL/.*.py.swp
model/.*.py.swp
model/.resnet.py.swp
model/.resnet.py.un~
model/resnet.py~
.fed_train.py.un~
fed_train.py
datasets/
MultiFL/.temp_map_out/
.temp_map_out/
logs/
model/fasterrcnn/model_data/resnet50-19c8e357.pth
model/fasterrcnn/*.swp
utils/.*.py.swp
MultiFL/.*.py.swo
MultiFL/.*.py.swp
MultiFL/.*.py.swn
